@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #e8e8e8;
  --gray-text: #8c8c8c;
  --gray-light: #f0f2f5;
  --white: #fff;
  --blue: #0050b3;
  --dark-blue: #003a8c;
  --red: #ff4d4f;
}

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: #333;
  font-family: "SF Pro Display", sans-serif;
  overflow-x: hidden;
}

.main-nav .switcher-language .language::before {
  content: "";
  width: 32px;
  height: 44px;
  display: block;
  background: url(/icons/flag-vi.png) no-repeat center center;
  background-size: auto 32px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -50px;
}

#main-slider {
  overflow-y: visible;
}

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .categories .item:nth-child(n + 5) {
    display: none;
  }

  .categories .active.item:nth-child(n + 5) {
    display: flex;
    margin-bottom: 25px;
  }
}
